<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.tmp-janitor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>mkdir -p "$HOME/Library/Logs/Talkie" &amp;&amp; "$HOME/bin/tmp-janitor.sh" --delete &gt;&gt; "$HOME/Library/Logs/Talkie/tmp-janitor.log" 2&gt;&amp;1</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>15</integer>
    </dict>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
