<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.7.11</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>TalkieLive URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>talkielive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>TalkieLive URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>talkielive-dev</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>TalkieLive URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>talkielive-staging</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>TalkieLive needs access to your microphone to capture and transcribe your voice recordings.</string>
</dict>
</plist>
