<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>jdi.talkie.live.xpc.dev</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/arach/Library/Developer/Xcode/DerivedData/TalkieLive-bdfysyhlsnnghcbexnpcgsavpbsy/Build/Products/Debug/TalkieLive.app/Contents/MacOS/TalkieLive</string>
    </array>
    <key>MachServices</key>
    <dict>
        <key>jdi.talkie.live.xpc.dev</key>
        <true/>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>/tmp/jdi.talkie.live.xpc.dev.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/jdi.talkie.live.xpc.dev.stderr.log</string>
</dict>
</plist>
